In [11]:
import pandas as pd 
from scipy.stats import ttest_ind

In [12]:
data = pd.read_csv('cobify_clean_data.csv')
data.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,ac,rain,sun,fuel_use,cost_trip,trip_time,avg_speed
0,28.0,5.0,26,21.5,12,E10,0,0,0,1.4000,2.84,0.433333,64.615385
1,12.0,4.2,30,21.5,13,E10,0,0,0,0.5040,1.02,0.500000,24.000000
2,11.2,5.5,38,21.5,15,E10,0,0,0,0.6160,1.25,0.633333,17.684211
3,12.9,3.9,36,21.5,14,E10,0,0,0,0.5031,1.02,0.600000,21.500000
4,18.5,4.5,46,21.5,15,E10,0,0,0,0.8325,1.69,0.766667,24.130435

In [13]:
# H0 : The cost per trip of both fuel type is the same 
# H1 : There is a difference between using one or another fuel in cost per trip

# One-sided t test
stat, pval = ttest_ind(data[data.gas_type == "E10"].cost_trip,data[data.gas_type == "SP98"].cost_trip)
print("P-value:", pval)
print("Stat:", stat)

P-value: 0.6200688610132739
Stat: 0.49615300260961726

In [15]:
# P-val > 0.05 , so we can not reject H0, meaning the cost per trip

In [16]:
# H0 : The consumption for  both fuel type is the same 
# H1 : There is a difference between using one or another fuel in consumption

# One-sided t test
stat, pval = ttest_ind(data[data.gas_type == "E10"].consume,data[data.gas_type == "SP98"].consume)
print("P-value:", pval)
print("Stat:", stat)

P-value: 0.7634526478628367
Stat: 0.3011626300254617